In [10]:
import numpy as np
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import sklearn

In [3]:
df = pd.read_csv('data/train.csv')
df.head()

,id,age,height(cm),weight(kg),waist(cm),eyesight(left),eyesight(right),hearing(left),hearing(right),systolic,...,HDL,LDL,hemoglobin,Urine protein,serum creatinine,AST,ALT,Gtp,dental caries,smoking
0,0,55,165,60,81.0,0.5,0.6,1,1,135,...,40,75,16.5,1,1.0,22,25,27,0,1
1,1,70,165,65,89.0,0.6,0.7,2,2,146,...,57,126,16.2,1,1.1,27,23,37,1,0
2,2,20,170,75,81.0,0.4,0.5,1,1,118,...,45,93,17.4,1,0.8,27,31,53,0,1
3,3,35,180,95,105.0,1.5,1.2,1,1,131,...,38,102,15.9,1,1.0,20,27,30,1,0
4,4,30,165,60,80.5,1.5,1.0,1,1,121,...,44,93,15.4,1,0.8,19,13,17,0,1

In [4]:
df.columns

Index(['id', 'age', 'height(cm)', 'weight(kg)', 'waist(cm)', 'eyesight(left)',
       'eyesight(right)', 'hearing(left)', 'hearing(right)', 'systolic',
       'relaxation', 'fasting blood sugar', 'Cholesterol', 'triglyceride',
       'HDL', 'LDL', 'hemoglobin', 'Urine protein', 'serum creatinine', 'AST',
       'ALT', 'Gtp', 'dental caries', 'smoking'],
      dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159256 entries, 0 to 159255
Data columns (total 24 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   id                   159256 non-null  int64
 1   age                  159256 non-null  int64
 2   height(cm)           159256 non-null  int64
 3   weight(kg)           159256 non-null  int64
 4   waist(cm)            159256 non-null  float64
 5   eyesight(left)       159256 non-null  float64
 6   eyesight(right)      159256 non-null  float64
 7   hearing(left)        159256 non-null  int64
 8   hearing(right)       159256 non-null  int64
 9   systolic             159256 non-null  int64
 10  relaxation           159256 non-null  int64
 11  fasting blood sugar  159256 non-null  int64
 12  Cholesterol          159256 non-null  int64
 13  triglyceride         159256 non-null  int64
 14  HDL                  159256 non-null  int64
 15  LDL                  159256 non-null  int64
 16  hemoglobin           159256 non-null  float64
 17  Urine protein        159256 non-null  int64
 18  serum creatinine     159256 non-null  float64
 19  AST                  159256 non-null  int64
 20  ALT                  159256 non-null  int64
 21  Gtp                  159256 non-null  int64
 22  dental caries        159256 non-null  int64
 23  smoking              159256 non-null  int64
dtypes: float64(5), int64(19)
memory usage: 29.2 MB

In [8]:
df.isnull().sum()

id                     0
age                    0
height(cm)             0
weight(kg)             0
waist(cm)              0
eyesight(left)         0
eyesight(right)        0
hearing(left)          0
hearing(right)         0
systolic               0
relaxation             0
fasting blood sugar    0
Cholesterol            0
triglyceride           0
HDL                    0
LDL                    0
hemoglobin             0
Urine protein          0
serum creatinine       0
AST                    0
ALT                    0
Gtp                    0
dental caries          0
smoking                0
dtype: int64

In [9]:
X = df.drop(['smoking'],axis=1)
y = df['smoking']

In [11]:
from sklearn.model_selection import train_test_split

X_train,X_valid,y_train,y_valid = train_test_split(X,y,test_size=0.2)

In [13]:
X_train.shape,y_train.shape,X_valid.shape,y_valid.shape

((127404, 23), (127404,), (31852, 23), (31852,))

In [21]:
from sklearn.ensemble import RandomForestClassifier

model =  RandomForestClassifier(n_jobs=-1,n_estimators=100,random_state=42)
model.fit(X_train,y_train)
model.score(X_valid,y_valid)

0.7751789526560342

In [25]:
from sklearn.model_selection import RandomizedSearchCV
rs_grid = {'bootstrap': [True, False],
 'max_depth': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, None],
 'max_features': ['auto', 'sqrt'],
 'min_samples_leaf': [1, 2, 4,5,6,7],
 'min_samples_split': [2, 5, 10,15,17,20],
 'n_estimators': [200, 400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000]}

rs_model = RandomizedSearchCV(model,param_distributions=rs_grid,n_iter=10,
cv=10,)
rs_model.fit(X_valid,y_valid)

In [ ]:
rs_model.best_params_